<%= form_for(@spot) do |f| %>
  <div class = "row">

    <div class="well text-center col-md-4 col-md-offset-4">
      <center><h2> <%= title %> </h2></center>
      <%= render '/errors', model: @spot %>

      <%= f.label :location %><br>
      <%= f.text_field :location, :placeholder=>"Location", autofocus: :true, class: 'col-md-12' %><br><br>

      <%= f.label :description %>
      <%= f.text_field :description, :placeholder=>"Description", class: 'col-md-12' %><br><br><br>

      <%= f.label :time %><br>
      <%= f.time_field :time, :placeholder=>"Time" %><br><br>

      <%= f.label :others %>
      <%= f.text_field :others, :placeholder => "Others", class: 'col-md-12'%><br><br><br>

      <%= f.submit 'Spit', :class=>"btn btn-submit col-md-4 col-md-offset-4" %><br><br>
    </div>
  </div>
<% end %>
<%= link_to 'To Index', spots_path %>
