<%= page_header "Spots" do%>
<% end %>
  <table class = 'table'>
    <thead>
      <tr>
        <th>
          <h3>Location</h3>
        </th>

        <th>
          <h3>Date</h3>
        </th>

        <th>
          <h3>Time</h3>
        </th>

        <th>
          <h3>Description</h3>
        </th>

        <th>
          <h3>Others</h3>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @spots.each do |spot| %>
        <tr>
          <td>
            <%= link_to spot.place.name, spot_path(spot) %>
          </td>

          <td>
            <%= spot.date.strftime("%b%-d") %>
          </td>

          <td>
            <%= spot.start_time.strftime("%I:%M%p") %>
          </td>

          <td>
            <%= spot.description %>
          </td>

          <td>
            <% spot.attendees.each do |attendee| %>
              <%= link_to attendee.user.full_name, user_path(attendee.user)%>
              <% unless attendee == spot.attendees.last %>,<% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
