<%= form_for model do |f| %>

  <div class = "row">
    <div class="well col-md-4 col-md-offset-4 text-center">
      <dl class = 'dl-horizontal'>

      <h2> <%= title %> </h2>
      <br>

      <%= render '/errors.html.erb', model: model %>

      <%= f.text_field :first_name, placeholder: 'First name', autofocus: true, class: "form-control" %>
      <br>
      <%= f.text_field :last_name, placeholder: 'Last name', class: "form-control" %>
      <br>
      <%= f.email_field :email, placeholder: 'E-mail', class: "form-control"%>
      <br>
      <%= f.password_field :password, placeholder: 'Password', class: "form-control" %>
      <br>
      <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: "form-control" %>
      <br>

      <% if @signup %>
        <%= f.submit 'Sign Up!',class: 'btn btn-submit' %>
      <% else %>
        <%= f.submit class: 'btn btn-submit' %>
      <% end %>

      <% if @edit_user %>
        <%= link_to 'Delete User', user_path(@user), method: :delete, class: 'btn btn-danger' %>
      <% end %>

    </div>
  </div>

<% end %>
