  <h1>
    <%= @user.full_name %>
    <%= link_to 'Edit', edit_user_path(@user), :class=>'btn btn-primary pull-right' %>
  </h1>
  <%= image_tag(@user.avatar, width: "200em") %>

  <dl class = 'dl-horizontal'>

    <dt>First Name:</dt>
    <dd><%= @user.first_name %></dd>

    <dt>Last Name:</dt>
    <dd><%= @user.last_name %></dd>

    <dt>E-Mail:</dt>
    <dd><%= mail_to(@user.email) %></dd><br>

    <dt>Subscriptions:</dt>
    <dd>
      <% User.find(current_user).subscriptions.each do |subs| %>
        <%= link_to subs.place.name, place_path(subs.place) %><br>
      <% end %>
    </dd>
  </dl>

  <hr>
  <h2>Current Spots</h2>
  <% @user.spots.each do |spot| %>
    <% if (spot.start_time < Time.now) and (spot.end_time > Time.now) and (spot.date == Date.today) %>
      <div class = 'container jumbotron text-center index-jumbos'>
        <h3><%= link_to "#{spot.place.name} @ #{spot.start_time.strftime("%I:%M%p")}", spot_path(spot) %></h3>
        <h4> <%= spot.description %> </h4>
      </div>
    <% end %>
  <% end %>

  <hr>
  <a href='#'><h2 data-toggle='collapse' data-target='.upcoming'>Upcoming Spots</h2></a>
  <div class='collapse upcoming'>
  <% @user.spots.each do |spot| %>
    <% if (Date.today < spot.date) or (Date.today == spot.date and spot.start_time > Time.now)%>
      <div class = 'container jumbotron text-center index-jumbos'>
        <h3><%= link_to "#{spot.place.name} @ #{spot.start_time.strftime("%I:%M%p")}", spot_path(spot) %></h3>
        <h4> <%= spot.description %> </h4>
      </div>
    <% end %>
  <% end %>
  </div>

  <hr>
  <a href='#'><h2 data-toggle='collapse' data-target='.previous'>Previous Spots</h2></a>
  <div class='collapse previous'>
  <% @user.spots.each do |spot| %>
    <% if (Date.today > spot.date ) or (Date.today == spot.date and spot.start_time < Time.now)%>
      <div class = 'container jumbotron text-center index-jumbos'>
        <h3><%= link_to "#{spot.place.name} @ #{spot.start_time.strftime("%I:%M%p")}", spot_path(spot) %></h3>
        <h4> <%= spot.description %> </h4>
      </div>
    <% end %>
  <% end %>
</div>
