<body class = "body homepage">

    <h1>I'm Feeling Kinda...</h1>
      <h3>
        <%= link_to image_tag('pizza.png', width: "60em")+' Hungry', categories_restaurants_path, class: "col-md-3" %>
        <%= link_to image_tag('beer.png', width: "40em")+" Thirsty", categories_bars_path, class: "col-md-3" %>
        <%= link_to image_tag('popcorn.png', width: "40em")+" Bored", categories_bored_path, class: "col-md-3" %>
        <%= link_to image_tag('active.png', width: "50em")+" Energetic", categories_active_path, class: "col-md-3" %>
      </h3>
        <br><br><br>
      <h3>
        <%= link_to image_tag('coffee.png', width: "50em")+" Intellectual", categories_intellectual_path, class: "col-md-3" %>
        <%= link_to image_tag('outdoors.png', width: "60em")+'Wild', categories_outdoors_path, class: 'col-md-3' %>
        <%= link_to image_tag('shopping.png', width: "50em")+" Wealthy", categories_shopping_path, class: "col-md-3" %>
        <%= link_to image_tag('broke.png', width: "60em")+" Broke", categories_broke_path, class: "col-md-3" %>
      </h3>
    </div>
  <br><br>
  <div class = "container">
    <a href='#'><h1 data-toggle='collapse' data-target='.explore'>Explore</h1></a>
    <div class='collapse explore container'>
    <hr>

    <%= collapsable_spots("Your Spots", "You have no upcoming Spots", "date", "your_spots") do %>
      <% @spots.each do |spot| %>
        <% () %>
      <% end %>
    <% end %>

    <%= collapsable_spots("What's Going On Now", "Nothing's Going On", "start_time", "going_on") do %>
      <% @spots.each do |spot| %>
        <% if (spot.start_time < Time.now) and (spot.end_time > Time.now) and (spot.date == Date.today) %>
        <% end %>
      <% end %>
    <% end %>

    <%= collapsable_spots("Coming Up", "Nothing's Coming Up", "date", "upcoming") do %>
      <% @spots.each do |spot| %>
        <% (Date.today < spot.date) or (Date.today == spot.date and spot.start_time > Time.now)%>
      <% end %>
    <% end %>

      <a href='#'><h2 data-toggle="collapse" data-target=".new_places">Newly Created Places</h2></a>
      <div class = "collapse new_places">
      <hr>
        You haven't coded this yet, dumbass
      </div>

      <a href='#'><h2 data-toggle="collapse" data-target=".recent_reviews">Recently Reviewed</h2></a>
      <div class = "collapse recent_reviews">
        <hr>
        You haven't coded this yet, dumbass
      </div>
    </div>
  </ul>
</div>
</body>
