<body class = "body homepage">

  <div class="container">
    <h1>I'm Feeling Kinda...</h1>
    <div class = 'container'>
      <h3>
        <%= link_to image_tag('pizza.png', width: "60em")+' Hungry', categories_restaurants_path, class: "col-md-3" %>
        <%= link_to image_tag('beer.png', width: "40em")+" Thirsty", categories_bars_path, class: "col-md-3" %>
        <%= link_to image_tag('popcorn.png', width: "40em")+" Bored", categories_bored_path, class: "col-md-3" %>
        <%= link_to image_tag('active.png', width: "50em")+" Energetic", categories_active_path, class: "col-md-3" %>
      </h3>
        <br><br><br>
      <h3>
        <%= link_to image_tag('coffee.png', width: "50em")+" Intellectual", categories_intellectual_path, class: "col-md-3" %>
        <%= link_to image_tag('outdoors.png', width: "60em")+'Wild', categories_outdoors_path, class: 'col-md-3' %>
        <%= link_to image_tag('shopping.png', width: "50em")+" Wealthy", categories_shopping_path, class: "col-md-3" %>
        <%= link_to image_tag('broke.png', width: "60em")+" Broke", categories_broke_path, class: "col-md-3" %>
      </h3>
    </div>
  </div>
  <br><br>
  <div class = "container">
    <a href='#'><h1 data-toggle='collapse' data-target='.explore'>Explore</h1></a>
    <hr>

    <div class= "container collapse explore">
      <a href='#'><h2 data-toggle='collapse' data-target='.going_on'>What's Going on Now</h2></a>
      <div class = "collapse going_on">
      <hr>
        <% spots_present = false %>
        <% @spots.order('start_time').each do |spot| %>
          <% if (spot.start_time < Time.now) and (spot.end_time > Time.now) and (spot.date == Date.today) %>
            <% spots_present = true %>
            <div class = 'container jumbotron text-center index-jumbos'>
              <h3><%= link_to "#{spot.location} @ #{spot.start_time.strftime("%I:%M%p")}", spot_path(spot) %></h3>
              <h4> <%= spot.description %> </h4>
              <p>with...</p>
              <h5> <%= link_to spot.user.full_name, user_path(spot.user) %></h5>
            </div>
          <% end %>
        <% end %>
        <% if spots_present == false %>
          <div class = 'container'>Nothing's going on</div>
        <% end %>
      </div>

      <a href='#'><h2 data-toggle="collapse" data-target=".upcoming">Coming Up</h2></a>
      <div class = "collapse upcoming">
      <hr>
        <% spots_present = false %>
        <% @spots.order('date').each do |spot| %>
          <% if (Date.today < spot.date) or (Date.today == spot.date and spot.start_time > Time.now)%>
            <% spots_present = true %>
            <div class = 'container jumbotron text-center index-jumbos'>
              <h3><%= link_to "#{spot.location} (#{spot.date.strftime('%b %e')} @
                  #{spot.start_time.strftime("%I:%M%p")})", spot_path(spot) %></h3>
              <h4> <%= spot.description %> </h4>
              <p>with...</p>
              <h5> <%= link_to spot.user.full_name, user_path(spot.user) %></h5>
            </div>
          <% end %>
        <% end %>
        <% if spots_present == false %>
          <div class = 'container'>Nothing's coming up</div>
        <% end %>
      </div>

      <a href='#'><h2 data-toggle="collapse" data-target=".new_places">Newly Created Places</h2></a>
      <div class = "collapse new_places">
      <hr>
        You haven't coded this yet, dumbass
      </div>

      <a href='#'><h2 data-toggle="collapse" data-target=".recent_reviews">Recently Reviewed</h2></a>
      <div class = "collapse recent_reviews">
        <hr>
        You haven't coded this yet, dumbass
      </div>
    </div>
  </ul>

  </div>
</body>
