<%= page_header "#{@place.name}" %>
<div class = 'container'>
<%= @place.description %>
<div class='map' style='margin-right:10%'></div>
<br><br>
<% @place.pics.each do |pic| %>
  <%= link_to image_tag(pic.image.url, width: "200em"), place_pic_path(@place, pic) %>
<% end %>
<%= link_to "Add a new image", new_place_pic_path(@place) %>
</div>
<hr>
<h2>Subscribers</h2>
<div class='container'>
  <%= form_for @subscription, url: {action: "create", controller: 'subscriptions', params: {place_id: @place.id}} do |f| %>
    <%= f.submit 'Subscribe!', class: 'btn-submit' %>
  <% end %>
  <% @place.subscriptions.all.order(role: :desc).each do |subb| %>
    <%= link_to (image_tag(subb.user.avatar, width: '50em') + subb.user.full_name), user_path(subb.user) %>
    <%= "(#{subb.role})" %><br>
  <% end %>
</div>
<script>

$(document).ready(function(){
  var myLatLng = new google.maps.LatLng(40.0293099,-105.2399774);
  var myOptions = {
    zoom: 14,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false,
    //disableDefaultUI: true,
  };
  map = new google.maps.Map(
    document.getElementsByClassName('map')[0], myOptions
  )
});
</script>
