<%= page_header "#{@place.name}" %>
<div class = 'container'>
<div style='width:53%'>
  <%= @place.description %><hr>
</div>
<div class='map' style='margin-right:10%'></div>
<br><br>
<% first_six = @place.pics.first(6) %>
<% first_six.each do |pic| %>
  <%= link_to image_tag(pic.image.url, width: "20%",
    alt: "Whoops! Your image isn't showing up. Please make sure it's an image file.
          This is a #{pic.image.url.rpartition('.').last.upcase} file."),
    place_pic_path(@place, pic) %>
<% end %>
<div style='float:right;margin-right:10%'>
  <% if @place.pics.length > 6 %>
    <%= link_to "See more images >>", place_pics_path(@place) %>
  <% end %>
</div>
<%= link_to "Add a new image", new_place_pic_path(@place), style: 'display:inline-block' %>

</div>
<hr>
<h2>Subscribers</h2>
<div class='container'>
  <%= form_for @subscription, url: {action: "create", controller: 'subscriptions', params: {place_id: @place.id}} do |f| %>
    <%= f.submit 'Subscribe!', class: 'btn-submit' %>
  <% end %>
  <% @place.subscriptions.all.order(role: :desc).each do |subb| %>
    <%= link_to (image_tag(subb.user.avatar, width: '50em') + subb.user.full_name), user_path(subb.user) %>
    <%= "(#{subb.role})" %><br>
  <% end %>
</div>
<script>

$(document).ready(function(){
  var myLatLng = new google.maps.LatLng(40.0293099,-105.2399774);
  var myOptions = {
    zoom: 14,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false,
    //disableDefaultUI: true,
  };
  map = new google.maps.Map(
    document.getElementsByClassName('map')[0], myOptions
  )
});
</script>
