<%= page_header "#{@place.name}" %>
<div class = 'container'>
<%= @place.description %>
<div class='map'></div>
<br><br><% @place.images.each do |image| %>
  <%= image_tag(image.image.url, width: "200em") %>
<% end %>
</div>
<hr>
<h2>Subscribers</h2>
<div class='container'>
  <% @place.subscriptions.all.order(role: :desc).each do |subb| %>
    <%= link_to subb.user.full_name, user_path(subb.user) %><br>
    <%= subb.role %><hr>
  <% end %>
</div>
