<!DOCTYPE html>
<html>
  <head>
    <title>Personalproject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <!--navbar-->
      <div class="nav navbar-fixed-top">
        <div class = 'container'>
          <h1>
            <%=link_to "Spot", root_path%>
            <%= link_to "Spot Something", new_spot_path, :class => "pull-right" %>
          </h1>
          <div class = 'navbar-brand pull-right' >
          <% if current_user %>
            <%= link_to (current_user.first_name + ' ' + current_user.last_name), user_path(current_user) %>
            <%= link_to "Sign Out", signout_path %>
          <% else %>
            <%= link_to 'Sign In', signin_path %>
            <%= link_to "Sign Up", signup_path %>
          <% end %>
        </div>
        </div>
      </div>

    <div class="body-container">
      <%= yield %>
    </div>

  </body>

  <footer>
    <hr>
    <div class = 'container'>
      <%= link_to "https://www.linkedin.com/profile/view?id=319703917&trk=nav_responsive_tab_profile",
        :target => '_blank' do%>
        <%image_tag("linkedin.png", width: "50em")%>
      <%end%>
    </div>
  </footer>
</html>
