<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) or "Spot" %></title>
    <%= favicon_link_tag 'spot-icon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', "https://maps.googleapis.com/maps/api/js?AIzaSyAzmRQoHlce8eWlmbnzukVP--LT89UMexI"%>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bangers|Lobster">
    <script src="jquery-1.11.2.min.js"></script>
    <script src=""></script>


    <%= csrf_meta_tags %>
  </head>
  <body>

  <!--navbar-->
    <ul class="nav navbar-fixed-top">
      <div class = 'container'>
        <li class='nav-li'>
          <%=link_to "Spot", main_path, class: 'navbar-header'%>
        </li>
        <% if current_user %>
          <li class= 'nav-li spot_something'>
              <%= render "/spots/spot_something_form" %>
          </li>
          <li class='nav-li'>
            <li class = 'navbar-right'>

                <%= link_to (current_user.first_name + ' ' + current_user.last_name), user_path(current_user) %>
                |
                <%= link_to "Sign Out", signout_path %>
            </li>
          </li>
        <% else %>
          <li class = 'navbar-right' style = 'margin-top: 0px'>
            <%= link_to 'Sign In', signin_path %>
            |
            <%= link_to "Sign Up", signup_path %>
          </li>
        <% end %>
      </div>
    </ul>

    <div class="container">
      <% if notice %>
        <div class = "notice alert alert-success">
          <%= notice %>
        </div>
      <%end%>
      <%= yield %>
    </div>

  </body>

  <div class = 'container'>
    <footer>
      <hr>
      <%= link_to 'Spots', spots_path %> |
      <%= link_to 'Places', places_path %> |
      <%= link_to 'Users', users_path %> |
      <%= link_to 'Categories', categories_path %>

      <div class = 'social_media_links pull-right'>
        <%= link_to "https://www.linkedin.com/profile/view?id=319703917&trk=nav_responsive_tab_profile",
          :target => '_blank' do%>
          <%image_tag("linkedin.png", width: "50em")%>
        <%end%>
      </div>
    </footer>
  </div>
</html>
