<!DOCTYPE html>
<html>
  <head>
    <title>Personalproject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <!--navbar-->
    <div class="nav navbar-fixed-top">
      <div class = 'container'>
        <%=link_to "Spot", main_path, class: 'navbar-header'%>

        <div class = 'signin pull-right'>

        <% if current_user %>
          <%= link_to (current_user.first_name + ' ' + current_user.last_name), user_path(current_user) %>
          |
          <%= link_to "Sign Out", signout_path %>
        <% else %>
          <%= link_to 'Sign In', signin_path %>
          |
          <%= link_to "Sign Up", signup_path %>
        <% end %>
        <h4><%= link_to 'Spot Something', new_spot_path, class: 'pull-right' %></h4>
        </div>

      </div>
    </div>

    <div class = 'container'>
    </div>

    <% if notice %>
      <div class = "notice alert alert-success">
        <%= notice %>
      </div>
    <%end%>
    <div class="body-container">
      <%= yield %>
    </div>

  </body>

  <div class = 'container'>
    <footer>
      <hr>
      <%= link_to 'Users', users_path %>
      <%= link_to 'Spots', spots_path %>
      <%= link_to 'categories', categories_path %>

      <div class = 'social_media_links pull-right'>
        <%= link_to "https://www.linkedin.com/profile/view?id=319703917&trk=nav_responsive_tab_profile",
          :target => '_blank' do%>
          <%image_tag("linkedin.png", width: "50em")%>
        <%end%>
      </div>
    </footer>
  </div>
</html>
