<!DOCTYPE html>
<html>
<head>
  <title>Personalproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--navbar-->
    <div class="navbar-fixed-top">
      <div class="navbar-header">
        <div style = "margin-left:110px">
          <p class="navbar-brand"> <%=link_to "gCamp", main_path%> </p>
        </div>
      </div>
      <div class="navbar-collapse collapse"></div>
    </div>

<div class="container">
<%= yield %>

</body>
</html>
